<% show_publish_button = item.can_publish? && item.stage == StudyhubResource::SUBMITTED %>

<% human_name = text_for_resource(item) %>

<%= render :partial => "subscriptions/subscribe", :locals => {:object => item} %>
<% show_publish_button = item.can_publish? && item.is_submitted? %>


<% if logged_in_and_member? %>
    <%= button_link_to("New #{t('studyhub_resource')}", 'new', new_studyhub_resource_path) %>
<% end %>


<% if item.is_downloadable? -%>
  <% if can_download_asset?(item, params[:code]) -%>
      <%= download_or_link_button item,
                                  polymorphic_path(item, action: :download),
                                  item.single_content_blob.try(:url),
                                  human_name,
                                  class: 'btn btn-default', disabled: item.download_disabled? %>

  <% end -%>

<% end -%>


<% if item.can_edit? -%>
  <%= add_new_item_to_dropdown(item) %>
<% end -%>

<%= item_actions_dropdown do %>
  <% if item.can_edit? %>
    <li><%= image_tag_for_key('edit', edit_studyhub_resource_path(item), "Edit #{t('studyhub_resource')}", nil, "Edit #{t('studyhub_resource')}") -%></li>
  <% end %>
  <% if show_publish_button %>
    <li><%= image_tag_for_key('publish', polymorphic_path(item, action: :check_related_items), nil, { method: :post }, "Publish #{t('studyhub_resource')}") -%></li>
  <% end -%>

  <%= delete_icon item,current_user -%>
<% end -%>
