<%
  selected ||= []

  collection_id = name.to_s.gsub(']','').gsub(/[^-a-zA-Z0-9:.]/, "_")
  select_prompt = "Select #{association_text.downcase}..."
  possibilities_collection_id = "possible_#{collection_id}"

  possibilities_options.reverse_merge!({ id: possibilities_collection_id,
                                         class: 'form-control',
                                         prompt: select_prompt,
                                         autocomplete: 'off',
                                         'data-associations-list-id' => collection_id
                                       })



  title ||= association_text.pluralize
  title += '<span class="required">*</span>'.html_safe if required

  p = ->(o) { [truncate(o.send(text_method), length: 120), o.send(value_method)] }

  select_options = options_for_select(possibilities.map(&p))


  existing_json = selected.map { |item| { title: item.label, id: item.id }.reverse_merge({fieldName: name})}.to_json
  intro ||= "You can choose multiple #{association_text.downcase.pluralize} for the #{object_type_text.downcase}:"
%>


<div class="form-group" data-role="seek-fancy-multiselect" name=<%= name %>>
  <label><%= association_text %></label><%= required_span if required %>
  <div class="row">
    <div class="col-md-12">
      <p class="help-block"><%= intro %></p>

      <%# This ensures that the parameter is always sent, even when nothing is selected.
        It adds a "" as the first item in the array. So if items 1,2, and 3 are selected the
        value of the parameter will be ["","1","2","3"]. This is compatible with the rails
        association association_ids= methods, which reject 'blank' values automatically.%>
      <%= hidden_field_tag "#{name}[]", "" %>
      <%= associations_list(collection_id, 'associations/general', existing_json, 'data-field-name' => name, empty_text: "No #{association_text.downcase.to_s}") %>
      <div class="association_step">
        <%# The JavaScript that handles adding items to the list is bound to elemnts with the 'data-association-list-id' property %>
        <div class="form-group">
            <%= select_tag nil, select_options, possibilities_options-%>
        </div>
      </div>
    </div>
    </div>
</div>