<% @error_keys = @studyhub_resource.errors.messages.keys.map {|x| x.to_s}%>
<%#= @studyhub_resource.errors.messages.inspect %>

<div class="alert alert-danger">
  <div>
    The fields marked with<label class="save-required"></label> are required before you can save the resource. <br>
    The fields marked with<label class="submit-required"></label> are required before you can submit the resource.<br>
  </div>
</div>

<div id="studyhub_resource_attributes_container">
  <div id ="step_two">
    <h3>Step 2: Fill out metadata</h3>
  </div>
  <%= render partial: 'studyhub_basic', locals: { :f => f, :collapsed => collapsed } %>
  <%= render :partial => 'resource_ids', :locals=> { :f => f,:collapsed => collapsed} %>
  <%= render :partial => 'resource_roles', :locals=> { :f => f,:collapsed => collapsed} %>
  <% if @studyhub_resource.new_record? %>
     <%= render partial: 'studyhub_study_design_input', locals: { :f => f, :collapsed => collapsed } %>
  <% elsif @studyhub_resource.is_studytype?%>
    <%= render partial: 'studyhub_study_design_input', locals: { :f => f, :collapsed => collapsed }  %>
  <% end -%>
</div>