<% @error_keys = @studyhub_resource.errors.messages.keys.map {|x| x.to_s}%>
<%#= @studyhub_resource.errors.messages.inspect %>
<% Rails.logger.info("Can not save/submit because:") %>
<% Rails.logger.info(@studyhub_resource.errors.messages.inspect) %>

<div class="alert alert-danger">
  <div>
    The fields marked with<label class="save-required"></label> are required before you can save the resource. <br>
    The fields marked with<label class="submit-required"></label> are required before you can submit the resource.<br>
    You are able to save the resource first with essential data and complete it later with details.
  </div>
</div>

<div id="studyhub_resource_attributes_container">
  <div id ="step_two">
    <h3>Step 2: Fill out metadata</h3>
  </div>
  <%= render partial: 'studyhub_basic', locals: { :f => f, :collapsed => collapsed } %>
  <%= render partial: 'resource_roles', locals: { :f => f,:collapsed => collapsed} %>
  <%= render partial: 'resource_ids',  locals: { :f => f,:collapsed => collapsed} %>
  <% if @studyhub_resource.is_studytype? %>
     <%= render partial: 'studyhub_study_design_input', locals: { :f => f, :collapsed => collapsed } %>
  <% end -%>
  <%= render partial: 'provenance_data', locals: { :f => f } %>
</div>

<script type="text/javascript">

    <% unless @studyhub_resource.is_studytype? %>
    $j(document).ready(function () {
        $j('#studyhub_resource_study_design').hide();
    });
    <% end -%>

    <% if @studyhub_resource.is_studytype? %>
    $j(document).ready(function () {
        $j('#step_two').hide();
    });
    <% end -%>

    $j(document).ready(function () {
        $j('form input').keydown(function (e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                return false;
            }
        });

        $j('.addtional-info').find('a[href="#"]').on('click', function (e) {
            e.preventDefault();
            this.expand = !this.expand;
            $j(this).text(this.expand? " read less":" read more");
            $j(this).closest('.addtional-info').find('.less, .more').toggleClass('less more');
        });

    });
</script>
