<%
  id_error = (defined? index).nil? ? {} : process_id_error_messags(index)
  id_types = SampleControlledVocab.where(title: 'NFDI4Health ID Type').first.sample_controlled_vocab_terms
  id_relation_types = SampleControlledVocab.where(title: 'NFDI4Health ID Relation Type').first.sample_controlled_vocab_terms
  id_resource_type_generals =  SampleControlledVocab.where(title: 'NFDI4Health ID Resource Type General').first.sample_controlled_vocab_terms
%>
<% id_row ||= nil %>
<% index ||= 'row-template' %>
<% row_num = index.to_i %>

<%

  unless studyhub_resource.resource_json.nil?
    ids = studyhub_resource.resource_json['ids']
    id_id = ids[row_num]["id_id"] unless ids.empty?
    id_date = (ids.empty? || ids[row_num]["id_date"].empty?) ? '' : Date.parse(ids[row_num]["id_date"]).strftime('%Y-%m-%d')
    id_type = ids[row_num]["id_type"] unless ids.empty?
    id_relation_type = ids[row_num]["id_relation_type"] unless ids.empty?
    id_resource_type_general = ids[row_num]["id_resource_type_general"] unless ids.empty?
  end

%>

<% field_name_prefix = "studyhub_resource[resource_json][ids]" %>
<% allow_row_removal = (index == 0 ? false : true ) %>

<tr class="id-id" data-index="<%= index-%>">
  <td>
    <div class="form-group">
      <%= f.collection_select "#{field_name_prefix}[id_resource_type_general][#{index}]", id_resource_type_generals.map(&:label), :to_s, :to_s,
                              { :include_blank => true, :selected => id_resource_type_general }, :class => "form-control" %>
    </div>
  </td>

  <td>
    <div class="form-group <%= "has-error text-danger" if id_error.include? "id_type" %>">
      <%= f.collection_select "#{field_name_prefix}[id_type][#{index}]", id_types.map(&:label), :to_s, :to_s,
                              { :include_blank => true, :selected => id_type }, :class => "form-control" %>
      <small><%= id_error["id_type"] if id_error.include? "id_type" %></small>
    </div>
  </td>

  <td>
    <div class="form-group">
      <%= f.text_field "#{field_name_prefix}[id_id][#{index}]", :class => "form-control",:value => id_id %>
    </div>
  </td>

  <td>
    <div class="form-group">
      <div style="position:relative">
        <%= f.text_field "#{field_name_prefix}[id_date][#{index}]", :type => 'date', :class =>"calendar form-control", :value => id_date %>
      </div>
    </div>
  </td>


  <td>
    <div class="form-group <%= "has-error text-danger" if id_error.include? "id_relation_type" %>">
      <%= f.collection_select "#{field_name_prefix}[id_relation_type][#{index}]", id_relation_types.map(&:label), :to_s, :to_s,
                              { :include_blank => true, :selected => id_relation_type }, :class => "form-control" %>
      <small><%= id_error["id_relation_type"] if id_error.include? "id_relation_type" %></small>
    </div>
  </td>

  <td>
    <% if allow_row_removal %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-danger">
          Remove
          <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false,
                            class: 'destroy-row', autocomplete: 'off',id:"#{field_name_prefix}-checkbox[_destroy]" %>
        </label>
      </div>
    <% end %>

  </td>

  <% if id_row %>
    <%= hidden_field_tag("#{field_name_prefix}[id]", id) %>
  <% end %>
</tr>

<script>

    $j('input[name^="<%= field_name_prefix %>[id_id]').change(SR.addAddtionalRequiredIDFields);

</script>