<% resource.keys.each do |key| %>
  <% attribute = CustomMetadataAttribute.where(title: key).first %>
  <% hidden_class = resource[key].blank? ? "item-hidden" : nil %>
  <p class=<%= hidden_class %>>
    <label><%= attribute.label %>: </label>
    <% if StudyhubResource::MULTISELECT_ATTRIBUTES.include? key %>
      <% unless resource[key].blank? %>
            <%= resource[key].map { |s| SampleControlledVocabTerm.find(s).label }.join(', ')  %>
      <% end %>
      <% elsif key == StudyhubResource::RESOURCE_KEYWORDS %>
      <%= resource_keywords(resource[key])  %>
      <% elsif StudyhubResource::URL_FIELDS.include? key %>
        <%= link_to resource[key].truncate(100), resource[key], target: :_blank %>
    <% else %>
      <%= resource[key] %>
    <% end %>
  </p>
<% end %>

