<% custom_metadata_type.custom_metadata_attributes.each do |attribute| %>
  <% unless StudyhubResource::NOT_PUBLIC_DISPLAY_ATTRIBUTES.include? attribute.title %>
    <% hidden_class = resource[attribute.title].blank? ? "item-hidden" : nil %>
    <p class=<%= hidden_class %>>
      <label><%= attribute.label %>: </label>
      <% if StudyhubResource::MULTISELECT_ATTRIBUTES.include? attribute.title %>
        <% unless resource[attribute.title].blank? %>
          <%= resource[attribute.title].map { |s| SampleControlledVocabTerm.find(s).label }.join(', ')  %>
        <% end %>
      <% elsif attribute.title == StudyhubResource::RESOURCE_KEYWORDS %>
        <%= resource_keywords(resource[attribute.title])  %>
      <% elsif StudyhubResource::MULTI_ATTRIBUTE_FIELDS_LIST_STYLE.include? attribute.title %>
        <%= display_array_attribute_fields(resource[attribute.title]) %>
      <% elsif StudyhubResource::URL_FIELDS.include? attribute.title %>
        <%= link_to resource[attribute.title].truncate(100), resource[attribute.title], target: :_blank %>
      <% else %>
        <%= resource[attribute.title] %>
      <% end %>
    </p>
  <% end %>
<% end %>

