<%
  resource_name = resource.class.name.underscore
  pp resource.inspect
%>

<div class="modal fade" id="preview_permissions" tabindex="-1" role="dialog" aria-labelledby="preview_permissions_title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<!--        <h4 class="modal-title" id="preview_permissions_title">Preview of your working status:-->
<!--          currently the <%= resource.reload_studyhub_resource_type.title.downcase  %> is <%= stage_text %>.</h4>-->
      </div>
      <div class="modal-body alert alert-info" style="margin: 10px 20px">
        <div>
          <% if resource.stage == StudyhubResource::SAVED  || StudyhubResource::SUBMITTED %>

            <div>
              By clicking on the button “Submit”, you confirm the correctness of the data entered and apply for registration of your resource in the NFDI4Health Task Force COVID-19 system.
              <br> <br>
              Please note, after the form is submitted successfully, your data is still private.
              You can send a request (see the screenshot below) to publish your data. Your request will be reviewed by our <%= t('studyhub_resources.gatekeep') %>.
              If the data have been entered correctly, your application will be approved and the resource will be published.
              <br>
              <%= image_tag("studyhub/publish_studyhub_resource.png", :id => 'publish_intruction', :style => 'max-width:100%; margin: 10px 0;') -%></div>
          <% end  %>

        </div>
      </div>

      <div class="modal-footer">
        <input class="btn btn-primary" type=button value='OK' style="width: 5em" onclick="createOrUpdateResource('<%= resource_name -%>')">
        <input class="btn btn-default" type=button value='Cancel' data-dismiss="modal">
      </div>
    </div>
  </div>
</div>
