<%= folding_panel("Resource Roles:", false ) do %>

  <div class="help-block">
    <div class="alert alert-info">
      <div>
        Some help texts from Aliakesandra
      </div>
    </div>
  </div>

  <div id="resource_roles">
    <div class="table" id="resource-role-table">
      <% if @studyhub_resource.new_record? %>
        <%= render :partial => 'role_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => 0} %>
      <% else %>
        <% @studyhub_resource.resource_json['roles'].each_with_index do |role, index| %>
          <%= render :partial => 'role_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => index} %>
        <% end %>
      <% end %>

      <div id="role-row">
        <div colspan="6">
          <%= button_link_to('Add more roles', 'add', '#', :id => 'add-role-row') %>
        </div>
      </div>
    </div>

    <div id="new-role-row" style="display: none">
      <%= render :partial => 'role_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f} %>
    </div>
  </div>
<% end %>

<script>
    //used to hold the element Id that needs updating after creating a new CV
    $j(document).ready(function () {

        $j('#add-role-row').click(function () {
            alert("add-role-row");
            var newRow = $j('#new-role-row').clone().html();
            var index = 0;
            $j('#resource-role-table div.resource-role').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });

            index++;

            newRow = newRow.replace(/row-template/g, index);
            console.log("index:"+index);

            $j('#resource-role-table #role-row').before($j(newRow));
            // $j('select[name="studyhub_resource[role_type]['+index+']"]').val("Contributor");
            // $j('input[name="studyhub_resource[role_name]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_email]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_phone]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_affiliation_url]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_affiliation_zip]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_affiliation_name]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_affiliation_city]['+index+']"]').val("");
            // $j('input[name="studyhub_resource[role_affiliation_country]['+index+']"]').val("");

            intialRoleVisibility(index);

            $j('select[name="studyhub_resource[role_name_type]['+index+']"]').on('change', SR.setRoleNameTypeVisibility);

            return false;
        });

        $j('#resource-role-table').on('change', '.destroy-row', SR.removeRoleRow);
        $j('#resource-role-table').on('change', '.role_type', SR.setSpecificRoleTypeVisibility);

    });
</script>

