<%= folding_panel("Associated Resources:", folded ) do %>

  <div class="help-block">
    <div class="alert alert-info">
      <div>
        Some help texts from Aliakesandra.
      </div>
    </div>
  </div>

  <div id="id_ids">
    <table class="table" id="id-id-table">
      <thead>
      <tr>
        <th><label>ID Type</label></th>
        <th><label>ID</label></th>
        <th><label>ID Date</label></th>
        <th><label>Relation Type</label></th>
        <th width="19em"></th>
      </tr>
      </thead>
      <tbody>

      <%  if @studyhub_resource.resource_json.nil? %>
        <%= render :partial => 'id_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => 0} %>
      <% else %>
        <% @studyhub_resource.resource_json['ids'].each_with_index do |id, index| %>
          <%= render :partial => 'id_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => index} %>
        <% end %>
      <% end %>

      <tr id="id-row">
        <td colspan="6">
          <%= button_link_to('Add more IDs', 'add', '#', :id => 'add-id-row') %>
        </td>
      </tr>
      </tbody>
    </table>

    <table id="new-id-row" style="display: none">
      <tbody>
      <%= render :partial => 'id_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f} %>
      </tbody>
    </table>
  </div>

<% end %>

<script>
    //used to hold the element Id that needs updating after creating a new CV
    $j(document).ready(function () {
        $j('#add-id-row').click(function () {
            var newRow = $j('#new-id-row tbody').clone().html();
            var index = 0;
            $j('#id-id-table tr.id-id').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });

            index++;
            console.log(index);
            newRow = newRow.replace(/row-template/g, index);

            $j('#id-id-table #id-row').before($j(newRow));
            $j('select[name="studyhub_resource[id_type]['+index+']"]').val("arXiv");
            $j('input[name="studyhub_resource[id_id]['+index+']"]').val("");
            $j('input[name="studyhub_resource[id_date]['+index+']"]').val("");
            $j('select[name="studyhub_resource[id_relation_type]['+index+']"]').val("IsCitedBy");

            return false;
        });

        $j('#id-id-table').on('change', '.destroy-row', SR.removeIDRow);

    });
</script>

