<% help_text = "*******************************************" %>
<%= folding_panel("Associated Resources:", collapsed, :body_options => {:id => 'associated_resources'},
                  :help_text => help_text) do %>

  <div class="help-block">
    <div class="alert alert-info">
      <div>
        <p>Here you can specify identifiers (IDs) of the resources related to, or associated with, the resource being registered. Please select the appropriate ID Type from the drop-down list below and provide further appropriate information. In the property “Relation Type”, a relation type between the resource being registered and the related resource can be indicated.</p>
        <p>Please find some examples of the IDs that can be stated here:</p>
        <div style="margin-left: 10px">
          <p>(a) a Digital Object Identifier (ID Type = DOI) of the publication related to the given resource. The format should be a value beginning with a “10”, for example, 10.3238/arztebl.2020.0861. In this case, the selected Relation Type can be “is described by”, meaning that given resource is described by the paper with the DOI: 10.3238/arztebl.2020.0861.</p>
          <p>(b) a link (ID Type = URL) to a web page where supporting information for the resource can be found. In this case, the selected Relation Type can be “is supplemented by”, meaning that the given resource is supplemented by materials published at the indicated web page.</p>
          <p>(c) a DRKS-ID assigned to the study by the German Clinical Trials Register (DRKS). For example, DRKS00023334. In this case, the Relation Type can be “has alternate ID”.</p>
        </div>
      </div>
    </div>
  </div>

  <div id="id_ids">
    <table class="table" id="id-id-table">
      <thead>
      <tr>
        <th><label>ID Type</label></th>
        <th><label>ID</label></th>
        <th><label>ID Date</label></th>
        <th><label>Relation Type</label></th>
        <th width="19em"></th>
      </tr>
      </thead>
      <tbody>

      <%  if @studyhub_resource.resource_json.nil? || @studyhub_resource.resource_json['ids'].blank? %>
        <%= render :partial => 'id_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => 0} %>
      <% else %>
        <% @studyhub_resource.resource_json['ids'].each_with_index do |id, index| %>
          <%= render :partial => 'id_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => index} %>
        <% end %>
      <% end %>

      <tr id="id-row">
        <td colspan="6">
          <%= button_link_to('Add more IDs', 'add', '#', :id => 'add-id-row') %>
        </td>
      </tr>
      </tbody>
    </table>

    <table id="new-id-row" style="display: none">
      <tbody>
      <%= render :partial => 'id_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f} %>
      </tbody>
    </table>
  </div>

  <button type="button" class="btn btn-success float-right" onclick="toggle('study_design_general')">Next</button>

<% end %>

<script>
    //used to hold the element Id that needs updating after creating a new CV
    $j(document).ready(function () {
        $j('#add-id-row').click(function () {
            var newRow = $j('#new-id-row tbody').clone().html();
            var index = 0;
            $j('#id-id-table tr.id-id').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });

            index++;
            console.log(index);
            newRow = newRow.replace(/row-template/g, index);

            $j('#id-id-table #id-row').before($j(newRow));
            $j('select[name="studyhub_resource[id_type]['+index+']"]').val("arXiv");
            $j('input[name="studyhub_resource[id_id]['+index+']"]').val("");
            $j('input[name="studyhub_resource[id_date]['+index+']"]').val("");
            $j('select[name="studyhub_resource[id_relation_type]['+index+']"]').val("IsCitedBy");

            return false;
        });

        $j('#id-id-table').on('change', '.destroy-row', SR.removeIDRow);

    });
</script>

