<%
  if @error_keys.include? "title"
    feedback = @studyhub_resource.errors.messages[:title].first
    is_error = true
  end
%>

<div id="resource_titles">
  <div class="alert alert-info">
    <p>
      <b>The first title and description will be by default the main title and description</b> of the resource.
    </p>
  </div>
    <table class="table" id="resource-title-table">
      <thead>
      <tr class="form-group <%= "has-error text-danger" if is_error %>">
        <th width="19em"><label class="save-required">Title language</label></th>
        <th class="col-10"><label class="save-required">Title</label></th>
        <th><%= feedback if is_error %></th>
      </tr>
      </thead>
      <tbody>
      <% if @studyhub_resource.resource_json.nil? || @studyhub_resource.resource_json['resource_titles'].blank? %>
        <%= render :partial => 'title_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => 0, :is_error=> is_error} %>
      <% else %>
        <% @studyhub_resource.resource_json['resource_titles'].each_with_index do |title, index| %>
          <%= render :partial => 'title_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => index} %>
        <% end %>
      <% end %>
      <tr id="title-row">
          <td colspan="6">
            <%= button_link_to('Add more titles', 'add', '#', :id => 'add-title-row') %>
          </td>
        </tr>
      </tbody>
    </table>



    <table id="new-title-row" style="display: none">
      <tbody>
      <%= render :partial => 'title_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f } %>
      </tbody>
    </table>

  </div>



<script>
    //used to hold the element Id that needs updating after csreating a new CV
    $j(document).ready(function () {
        $j('#add-title-row').click(function () {
            var newRow = $j('#new-title-row tbody').clone().html();
            var index = 0;
            $j('#resource-title-table tr.resource-title').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });

            index++;

            newRow = newRow.replace(/row-template/g, index);

            $j('#resource-title-table #title-row').before($j(newRow));
            $j('select[name="studyhub_resource[title_language]['+index+']"]').val("EN");
            $j('input[name="studyhub_resource[resource_title]['+index+']"]').val("");



            return false;
        });

        $j('#resource-title-table').on('change', '.destroy-row', SR.removetitleRow);

    });
</script>

