<%
  if @error_keys.include? "description"
    feedback = @studyhub_resource.errors.messages[:description].first
    is_error = true
  end
%>
<div id="resource_descriptions">

    <table class="table" id="resource-description-table">
      <thead>
      <tr class="form-group <%= "has-error text-danger" if is_error %>">
        <th style="width: 10em"><label class="submit-required">Language</label></th>
        <th class="col-10"><label class="submit-required">Description</label></th>
        <th><%= feedback if is_error %></th>
      </tr>
      </thead>
      <tbody>


      <% if @studyhub_resource.resource_json.nil? || @studyhub_resource.resource_json['resource_descriptions'].blank?  %>
        <%= render :partial => 'description_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => 0} %>
      <% else %>
        <% @studyhub_resource.resource_json['resource_descriptions'].each_with_index do |description, index| %>
          <%= render :partial => 'description_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f, :index => index} %>
        <% end %>
      <% end %>

      <tr id="description-row">
        <td><small>Language of the summary describing the resource.</small></td>
        <td><small>A short plain text summary describing the resource in English.</small></td>
      </tr>
        <tr>
          <td colspan="6">
            <%= button_link_to('Add more descriptions', 'add', '#', :id => 'add-description-row') %>
          </td>
        </tr>
      </tbody>
    </table>



    <table id="new-description-row" style="display: none">
      <tbody>
      <%= render :partial => 'description_row', :locals=> {:studyhub_resource=>@studyhub_resource,:f => f} %>
      </tbody>
    </table>

  </div>



<script>
    //used to hold the element Id that needs updating after creating a new CV
    $j(document).ready(function () {
        $j('#add-description-row').click(function () {
            var newRow = $j('#new-description-row tbody').clone().html();
            var index = 0;
            $j('#resource-description-table tr.resource-description').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });

            index++;

            newRow = newRow.replace(/row-template/g, index);

            $j('#resource-description-table #description-row').before($j(newRow));
            $j('select[name="studyhub_resource[resource_json][resource_descriptions][description_language]['+index+']"]').val("EN");
            $j('textarea[name="studyhub_resource[resource_json][resource_descriptions][description]['+index+']"]').val("");


            return false;
        });

        $j('#resource-description-table').on('change', '.destroy-row', SR.removedescriptionRow);

    });
</script>

