<% help_text = "A role, or a contributor, is a person, a group of persons or an institution contributing to the development of the resource." %>
  <%= folding_panel("Contributors:", collapsed, :body_options => {:id => 'resource_roles'},
                    :help_text => help_text) do %>

  <div class="help-block">
    <div class="alert alert-info">
      <div>
        <p>Contributor is a person, a group of persons, or an institution, contributing to the development of the resource such as principal investigator, primary sponsor, funder, contact person, etc. </p>
        <p>Please select the appropriate Role Type from the drop-down list below and provide further information including type of the name, name, contact details, identifiers, etc.</p>
        <p>As research activities are usually conducted by multiple persons and/or organisations, you can list all of them, but not less than one contributor must be specified.</p>
        <p>If a person/organisation fulfils more than one role, please repeat the properties.</p>
        </div>
    </div>
  </div>

  <div id="resource_roles">
    <div class="table" id="resource-role-table">

      <% if @studyhub_resource.resource_json.nil? || @studyhub_resource.resource_json['roles'].blank? %>
        <%= render :partial => 'role_row', :locals=> {:role=>nil,:f => f, :index => 0} %>
      <% else %>
        <% @studyhub_resource.resource_json['roles'].each_with_index do |role, index| %>
          <%= render :partial => 'role_row', :locals=> {:role=>@studyhub_resource.resource_json['roles'][index],:f => f, :index => index} %>
        <% end %>
      <% end %>

      <div id="role-row">
        <div colspan="6">
          <%= button_link_to('Add more roles', 'add', '#', :id => 'add-role-row') %>
        </div>
      </div>
    </div>

    <div id="new-role-row" style="display: none">
      <%= render :partial => 'role_row', :locals=> {:role=>nil,:f => f} %>
    </div>
  </div>
  <% if @studyhub_resource.is_studytype? %>
    <button type="button" class="btn btn-success float-right" onclick="toggle('associated_resources')">Next</button>
  <% end %>
<% end %>

<script>
    //used to hold the element Id that needs updating after creating a new CV
    $j(document).ready(function () {

        SR.intialRolesVisibility();

        $j('#add-role-row').click(function () {
            var newRow = $j('#new-role-row').clone().html();
            var index = 0;
            $j('#resource-role-table div.resource-role').each(function () {
                var newIndex = parseInt($j(this).data('index'));
                if (newIndex > index) {
                    index = newIndex;
                }
            });
            index++;
            newRow = newRow.replace(/row-template/g, index);

            $j('#resource-role-table #role-row').before($j(newRow));

            intialRoleVisibility(index);

            $j('select[name="studyhub_resource[role_name_type]['+index+']"]').on('change', SR.setRoleNameTypeVisibility);

            return false;
        });

        $j('#resource-role-table').on('change', '.destroy-row', SR.removeRoleRow);

    });
</script>

