<%= list_item_description resource.description %>

<div class="row">
  <div class="col-sm-6">
    <label>Resource Type:</label>
    <%= resource.studyhub_resource_type.title %>
  </div>

  <div class="col-sm-6">
    <label></label>
    <%= resource.inspect %>
  </div>

  <div class="col-sm-6 hidden-xs">
    <%= persistent_resource_id(resource) %>
    <%= studyhub_resource_in_seek_id_json(resource) %>
  </div>
</div>



<div class="hidden-xs">
  <%= scales_list_for_list_item resource %>
</div>