<% role_error = (defined? index).nil? ? {} : process_role_error_messags(index) %>

<%
  role_types = SampleControlledVocab.where(title: 'NFDI4Health Role Type').first.sample_controlled_vocab_terms
  role_name_types = SampleControlledVocab.where(title: 'NFDI4Health Role Name Type').first.sample_controlled_vocab_terms
  role_name_personal_titles = SampleControlledVocab.where(title: 'NFDI4Health Role Name Personal Title').first.sample_controlled_vocab_terms
  role_name_identifier_schemes = SampleControlledVocab.where(title: 'NFDI4Health Role Name Identifier Scheme').first.sample_controlled_vocab_terms
  role_affiliation_identifier_schemes = SampleControlledVocab.where(title: 'NFDI4Health Role Affiliation Identifier Scheme').first.sample_controlled_vocab_terms
%>
<% role_row ||= nil %>
<% index ||= 'row-template' %>
<% row_num = index.to_i %>

<%
  unless  studyhub_resource.nil? || studyhub_resource.resource_json.nil? || studyhub_resource.resource_json['roles'][row_num].blank?
    roles = studyhub_resource.resource_json['roles']
    role_type =  roles[row_num]["role_type"]
    role_name_type = roles[row_num]["role_name_type"]

    role_name_personal_title = roles[row_num]["role_name_personal_title"]
    role_name_personal_given_name = roles[row_num]["role_name_personal_given_name"]
    role_name_personal_family_name = roles[row_num]["role_name_personal_family_name"]

    role_name_organisational = roles[row_num]["role_name_organisational"]

    role_name_identifier = roles[row_num]["role_name_identifier"]
    role_name_identifier_scheme = roles[row_num]["role_name_identifier_scheme"]

    role_affiliation_identifier = roles[row_num]["role_affiliation_identifier"]
    role_affiliation_identifier_scheme = roles[row_num]["role_affiliation_identifier_scheme"]

    role_email = roles[row_num]["role_email"]
    role_phone = roles[row_num]["role_phone"]

    role_affiliation_name = roles[row_num]["role_affiliation_name"]
    role_affiliation_web_page = roles[row_num]["role_affiliation_web_page"]
    role_affiliation_address = roles[row_num]["role_affiliation_address"]
  end
%>

<% field_name_prefix = "resource_roles[role][#{index}]" %>
<% allow_row_removal = (index == 0 ? false : true ) %>

<div id="role-<%= index-%>" class="resource-role" data-index="<%= index-%>">
  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_type" %>">
    <label class="required">Role Type</label>
    <%= f.collection_select "studyhub_resource[role_type][#{index}]", role_types.map(&:label), :to_s, :to_s,
                            { :include_blank => "Please select...", :selected => role_type }, :class => "form-control role_type" %>
    <p class="help-block"><small>Type of the resource contributor.</small></p>
    <small><%= role_error["role_type"] if role_error.include? "role_type" %></small>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_name_type" %>">
    <label class="required">Role Name Type</label>
    <%= f.collection_select "studyhub_resource[role_name_type][#{index}]", role_name_types.map(&:label), :to_s, :to_s,
                            { :include_blank => "Please select...", :selected => role_name_type }, :class => "form-control role_name_types" %>
    <p class="help-block"><small>Type of the name.</small></p>
    <small><%= role_error["role_name_type"] if role_error.include? "role_name_type" %></small>
  </div>


  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_name_organisational" %>">
    <label class="required">Role Name Organisational</label>
    <%= f.text_field "studyhub_resource[role_name_organisational][#{index}]", :class => "form-control",:value =>role_name_organisational %>
    <p class="help-block"><small>Name of the contributor.</small></p>
    <small><%= role_error["role_name_organisational"] if role_error.include? "role_name_organisational" %></small>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_name_personal_title" %>">
    <label class="required">Personal Title</label>
    <%= f.collection_select "studyhub_resource[role_name_personal_title][#{index}]", role_name_personal_titles.map(&:label), :to_s, :to_s,
                            { :include_blank => "Please select...", :selected => role_name_personal_title }, :class => "form-control role_type" %>
    <p class="help-block"><small>Title of the contributor.</small></p>
    <small><%= role_error["role_name_personal_title"] if role_error.include? "role_name_personal_title" %></small>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_name_personal_given_name" %>">
    <label class="required">Given Name</label>
    <%= f.text_field "studyhub_resource[role_name_personal_given_name][#{index}]", :class => "form-control",:value =>role_name_personal_given_name %>
    <p class="help-block"><small>Given name of the contributor.</small></p>
    <small><%= role_error["role_name_personal_given_name"] if role_error.include? "role_name_personal_given_name" %></small>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_name_personal_family_name" %>">
    <label class="required">Family Name</label>
    <%= f.text_field "studyhub_resource[role_name_personal_family_name][#{index}]", :class => "form-control",:value =>role_name_personal_family_name %>
    <p class="help-block"><small>Family name of the contributor.</small></p>
    <small><%= role_error["role_name_personal_family_name"] if role_error.include? "role_name_personal_family_name" %></small>
  </div>

  <div class="form-group">
    <label>Person Identifier</label>
    <%= f.text_field "studyhub_resource[role_name_identifier][#{index}]", :class => "form-control",:value =>role_name_identifier %>
    <p class="help-block"><small>ID of the contributor.</small></p>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_name_identifier_scheme" %>">
    <label>Person Identifier Scheme</label>
    <%= f.collection_select "studyhub_resource[role_name_identifier_scheme][#{index}]", role_name_identifier_schemes.map(&:label), :to_s, :to_s,
                            { :include_blank => "Please select...", :selected => role_name_identifier_scheme }, :class => "form-control role_type" %>
    <p class="help-block"><small>Type of the contributor's ID. It is mandatory if the person identifier is given.</small></p>
    <small><%= role_error["role_name_identifier_scheme"] if role_error.include? "role_name_identifier_scheme" %></small>
  </div>


  <div class="form-group">
    <label>Email</label>
    <%= f.text_field "studyhub_resource[role_email][#{index}]", :class => "form-control",:value => role_email %>
    <p class="help-block"><small>Email of the contributor.</small></p>
  </div>

  <div class="form-group">
    <label>Phone</label>
    <%= f.text_field "studyhub_resource[role_phone][#{index}]", :class => "form-control",:value => role_phone %>
    <p class="help-block"><small>Phone number of the contributor.</small></p>
  </div>

  <div class="form-group">
    <label>Affiliation Name</label>
    <%= f.text_field "studyhub_resource[role_affiliation_name][#{index}]", :class => "form-control",:value => role_affiliation_name %>
    <p class="help-block"><small>Affiliation of the contributor.</small></p>
  </div>


  <div class="form-group">
    <label>Affiliation Address</label>
    <%= f.text_field "studyhub_resource[role_affiliation_address][#{index}]", :class => "form-control",:value => role_affiliation_address %>
    <p class="help-block"><small>Address of the affiliation.</small></p>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_affiliation_web_page" %>">
    <label>Affiliation Web page</label>
    <%= f.text_field "studyhub_resource[role_affiliation_web_page][#{index}]", :class => "form-control",:value => role_affiliation_web_page %>
    <p class="help-block"><small>Web page of the affiliation. ( please enter a valid URL starting with http/https ) </small></p>
    <small><%= role_error["role_affiliation_web_page"] if role_error.include? "role_affiliation_web_page" %></small>
  </div>

  <div class="form-group">
    <label>Affiliation Identifier</label>
    <%= f.text_field "studyhub_resource[role_affiliation_identifier][#{index}]", :class => "form-control",:value => role_affiliation_identifier %>
    <p class="help-block"><small>Identifier of the affiliation.</small></p>
  </div>

  <div class="form-group <%= "has-error text-danger" if role_error.include? "role_affiliation_identifier_scheme" %>">
    <label class="">Affiliation Identifier Scheme</label>
    <%= f.collection_select "studyhub_resource[role_affiliation_identifier_scheme][#{index}]", role_affiliation_identifier_schemes.map(&:label), :to_s, :to_s,
                            { :include_blank => "Please select...", :selected => role_affiliation_identifier_scheme }, :class => "form-control role_type" %>
    <p class="help-block"><small>Type of the affiliation's ID. It is mandatory if the identifier of the affiliation is given.</small></p>
    <small><%= role_error["role_affiliation_identifier_scheme"] if role_error.include? "role_affiliation_identifier_scheme" %></small>
  </div>

  <div class="form-group">
    <% if allow_row_removal %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-danger">
          Remove
          <%= check_box_tag "#{field_name_prefix}[_destroy]", '1', false,
                            class: 'destroy-row', autocomplete: 'off',id:"#{field_name_prefix}-checkbox[_destroy]" %>
        </label>
      </div>
    <% end %>
  </div>

  <% if role_row %>
    <%= hidden_field_tag("#{field_name_prefix}[id]", id) %>
  <% end %>
</div>

<script>
    $j(document).ready(function () {
        $j('select[name="studyhub_resource[role_name_type][<%= row_num %>]"]').on('change', SR.setRoleNameTypeVisibility);
        $j('input[name^="studyhub_resource[role_name_identifier]').change(SR.setRolePersonIdentifierSchemeAsRequirerd);
        $j('input[name^="studyhub_resource[role_affiliation_identifier]').change(SR.setRoleAffiliationIdentifierSchemeAsRequirerd);
    });
</script>