<% role_identifier_row ||= nil %>
<% index ||= 'row-template' %>
<% num ||= 'num-template' %>
<% role_type_identifiers = "role_#{type}_identifiers" %>
<% role_type_identifier_name = "role_#{type}_identifier" %>
<% role_type_identifier_scheme_name = "role_#{type}_identifier_scheme" %>
<% field_scheme_prefix = "studyhub_resource[resource_json][roles][#{role_type_identifier_scheme_name}][#{num}][#{index}]" %>
<% field_name_prefix = "studyhub_resource[resource_json][roles][#{role_type_identifier_name}][#{num}][#{index}]" %>
<% allow_row_removal = (index == 0 ? false : true ) %>
<% role_error = (defined? num).nil? ? {} : process_role_id_error_messags(num,type) %>

<%
  role_type_identifier_schemes = SampleControlledVocab.where(title: "NFDI4Health Role #{type.upcase} Identifier Scheme").first.sample_controlled_vocab_terms

  unless role.blank? || role[role_type_identifiers].blank? || num == 'num-template'
    role_type_identifier = role[role_type_identifiers][index][role_type_identifier_name]
    role_type_identifier_scheme = role[role_type_identifiers][index][role_type_identifier_scheme_name]
  end

%>


<tr class='resource-identifier' data-index='<%= index-%>'>
  <td>
    <div class="form-group">
      <%= f.text_field field_name_prefix, :class => "form-control",:value =>role_type_identifier %>
    </div>

  </td>
  <td>
    <div class="form-group <%= "has-error text-danger" unless role_error[role_type_identifier_scheme_name][num][index].nil? %>">
      <%= f.collection_select field_scheme_prefix, role_type_identifier_schemes.map(&:label), :to_s, :to_s,
                              { :include_blank => "Please select...", :selected => role_type_identifier_scheme }, :class => "form-control role_type" %>
      <small><%= role_error[role_type_identifier_scheme_name][num][index]  %></small>
    </div>
  </td>
  <td>
    <% if allow_row_removal %>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-danger">
          Remove
          <%= check_box_tag "#{field_scheme_prefix}[_destroy]", '1', false,
                            class: 'destroy-row', autocomplete: 'off',id:"#{field_scheme_prefix}-checkbox[_destroy]" %>
        </label>
      </div>
    <% end %>
  </td>

  <% if role_identifier_row %>
    <%= hidden_field_tag("#{field_name_prefix}[id]", id) %>
  <% end %>
</tr>


<script>
    $j(document).ready(function () {
        $j('input[name^="studyhub_resource[resource_json][roles][role_<%= type %>_identifier]').change(SR.setRoleIdentifierSchemeAsRequirerd);
    });
</script>