<%
  save_button_help_text = "You can save the data now and complete the form later by editing it."
  submit_button_help_text = 'By clicking on the button “Submit”, you confirm the correctness of the data entered and apply for registration of your resource in the NFDI4Health Task Force COVID-19 system.
  Please note, your request will be reviewed by our data quality managers.
  If the data have been entered correctly, your application will be approved and the resource will be published. If some inaccuracies are found, we will notify you of the needed changes.'
%>
<%
   if @studyhub_resource.id.nil?
     submit_button_disabled = true
   elsif @studyhub_resource.content_blob.nil?
       submit_button_disabled = true
   else
         submit_button_disabled = false
   end
%>


<%= submit_tag('Save',  title: save_button_help_text, class: 'btn btn-primary', name:'save_button', id: 'save-button',
               disabled: false) %>

<%= submit_tag('Submit', title: submit_button_help_text, :onclick => "return previewStages();",
               class: 'btn btn-primary', name: 'submit_button', id: 'studyhub_resource_submit_btn', disabled: submit_button_disabled) %>

<%= image_tag("ajax-loader.gif", :id => 'permissions_spinner', :style => 'display: none') -%>
<div id="permissions-preview-wrapper"></div>



<script type="text/javascript">

    function previewStages() {
            $j('#permissions_spinner').show();
            $j.ajax({
                type: "POST",
            url: '<%= preview_stages_studyhub_resources_path -%>',
                data: {id: <%= @studyhub_resource.id %>},
                success: function (result) {
                    $j('#permissions-preview-wrapper').html(result);
                    $j('#preview_permissions').modal('show');
                    //this is to prevent other modal boxes being closes, if this is the child of another
                    $j('#preview_permissions').on('click', '[data-dismiss="modal"]', function (e) { e.stopPropagation(); });
           },
                error: function () {
                alert('Sorry, an error has occurred.');
              },
         complete: function () {
               $j('#permissions_spinner').hide();
            }
          });
      return false;
   }
</script>






