<%= folding_panel("Basic Information:", folded ) do %>

  <div class="help-block">
  <div class="alert alert-info">

    <div>Please provide some basic details about the <%= t('studyhub_resources.studyhub_resource').downcase %> that will be created.
      You need to enter at least one title before you can <b>save</b> it.
      <b>The first title and description will be by default the main title and description</b> of the resource.
      You will be able to edit the resource once it has been created.
    </div>
  </div>

  <div class="alert alert-danger">

    <div>
      The fields marked with<label class="save-required"></label> are required before you can save the resource. <br>
      The fields marked with<label class="submit-required"></label> are required before you can submit the resource.
    </div>
  </div>
  </div>

  <div id="resource_basic_information">

    <%= render :partial => 'resource_titles', :locals=> { :f => f} %>
    <%= render :partial => 'resource_descriptions', :locals=> { :f => f} %>
    <%= render :partial => 'resource_ids', :locals=> { :f => f} %>
    <%= render :partial => 'resource_roles', :locals=> { :f => f} %>

  </div>

<% end %>


