<% resource = @studyhub_resource.resource_json.nil? ? nil : @studyhub_resource.resource_json["study_design"] %>

<div id="studyhub_resource_study_design">
  <%= folding_panel("Study Design General:", collapsed, :body_options => {:id => 'study_design_general'},
                    :help_text => "Here is help text.") do %>

  <% cmt = CustomMetadataType.where(title:"NFDI4Health Studyhub Resource StudyDesign General",supported_type:@studyhub_resource.class.name).first %>
  <%= render partial: 'studyhub_resources/studyhub_custom_metadata_fields', locals: { custom_metadata_type: cmt, resource: resource, :f => f } %>
    <button id="study_primary_design_next_button" type="button" class="btn btn-success float-right hidden" onclick="toggle('study_design_interventional')">Next</button>
<% end %>

    <%= folding_panel("Non Interventional Study:", collapsed, :body_options => {:id => 'study_design_non_interventional'},
                      :help_text => " In case of a non-interventional study, the primary strategy for participant identification and follow-up.") do %>

    <% cmt = CustomMetadataType.where(title:"NFDI4Health Studyhub Resource StudyDesign Non Interventional Study",supported_type:@studyhub_resource.class.name).first %>
    <%= render partial: 'studyhub_resources/studyhub_custom_metadata_fields', locals: { custom_metadata_type: cmt, resource: resource,:f => f } %>
  <% end %>


  <%= folding_panel("Interventional Study:", collapsed, :body_options => {:id => 'study_design_interventional'},
                    :help_text => "In case of an interventional study, the strategy for assigning interventions to participants.") do %>

    <% cmt = CustomMetadataType.where(title:"NFDI4Health Studyhub Resource StudyDesign Interventional Study",supported_type:@studyhub_resource.class.name).first %>
    <%= render partial: 'studyhub_resources/studyhub_custom_metadata_fields', locals: { custom_metadata_type: cmt, resource: resource, :f => f } %>
  <% end %>


</div>


<script>
    $j(document).ready(function () {

        SR.intialStudyPrimaryDesignVisibility();
        SR.intialStudyDataSharingPlanVisibility();
        SR.intialStudyAttributesVisibility();
        SR.intialRequiredFields();

        $j('#studyhub_resource_study_design').on('change', 'select[name="studyhub_resource[custom_metadata_attributes][data][study_primary_design]"]', SR.setStudyAttributesVisibility);
        $j('#studyhub_resource_study_design').on('change', 'select[name="studyhub_resource[custom_metadata_attributes][data][study_status]"]', SR.setStudyAttributesVisibility);
        $j('#studyhub_resource_study_design').on('change', 'select[name="studyhub_resource[custom_metadata_attributes][data][study_masking]"]', SR.setStudyAttributesVisibility);

        $j('#studyhub_resource_study_design').on('change', 'input[name="studyhub_resource[custom_metadata_attributes][data][study_outcome_title]"]', SR.addAddtionalRequiredStudyOutcomeType);
        $j('#studyhub_resource_study_design').on('change', 'textarea[name="studyhub_resource[custom_metadata_attributes][data][study_outcome_description]"]', SR.addAddtionalRequiredStudyOutcomeType);

        $j('#studyhub_resource_study_design').on('change', 'input[name="studyhub_resource[custom_metadata_attributes][data][study_conditions]"]', SR.addAddtionalRequiredFieldStudyConditionsClassificationCode);
        $j('#studyhub_resource_study_design').on('change', 'select[name="studyhub_resource[custom_metadata_attributes][data][study_primary_design]"]', SR.setStudyPrimaryDesignVisibility);
        $j('#studyhub_resource_study_design').on('change', 'select[name="studyhub_resource[custom_metadata_attributes][data][study_data_sharing_plan_generally]"]', SR.setStudyDataSharingPlanVisibility);

        $j('#studyhub_resource_study_design').on('change', 'input[name="studyhub_resource[custom_metadata_attributes][data][study_arm_group_label]"]', SR.addAddtionalRequiredFieldStudyArmGroupType);



    });
</script>