<%= folding_panel("Basic Information:", folded ) do %>

  <div class="help-block">
  <div class="alert alert-info">
    <div>Please provide some basic details about the <%= t('studyhub_resources.studyhub_resource').downcase %> that will be created.
      You need to enter at least one title before you can <b>save</b> it.
      <b>The first title and description will be by default the main title and description</b> of the resource.
      You will be able to edit the resource once it has been created.
    </div>
  </div>
  </div>

  <div id="resource_basic_information">
    <%= render :partial => 'resource_titles', :locals=> { :f => f} %>
    <%= render :partial => 'resource_descriptions', :locals=> { :f => f} %>
    <%= render :partial => 'studyhub_resource_input', locals: { :f => f } %>
  </div>

<% end %>


