<%= folding_panel("Basic Information:", true) do %>

  <div class="help-block">
    Please provide some basic details about the <%= t('studyhub_resources.studyhub_resource') %> that will be created.
    You need to create at least one title and one description for the resource.
    <b>The first one you add will be by default
      the main title and description</b>.
    You will be able to update and add additional
    information once it has been created.
  </div>

  <div id="resource_basic_information">

    <%= render :partial => 'resource_titles', :locals=> { :f => f} %>
    <%= render :partial => 'resource_descriptions', :locals=> { :f => f} %>
    <%= render :partial => 'resource_ids', :locals=> { :f => f} %>
    <%= render :partial => 'resource_roles', :locals=> { :f => f} %>

  </div>

<% end %>


