
<% help_text = "Please provide some basic details about the #{t('studyhub_resources.studyhub_resource').downcase} that will be created." %>
  <%= folding_panel("Basic Information:", false, :body_options => {:id => 'basic_info'},
                    :help_text => help_text) do %>

  <div id="resource_basic_information">
    <%= render :partial => 'resource_titles', :locals=> { :f => f} %>
    <%= render :partial => 'resource_acronyms', :locals=> { :f => f} %>
    <%= render :partial => 'resource_descriptions', :locals=> { :f => f} %>
    <%= render :partial => 'studyhub_resource_input', locals: { :f => f } %>
  </div>

<% end %>


