<% folded = @studyhub_resource.resource_json.nil? %>
<%# filtered_resource_type = @studyhub_resource.is_studytype? ?
                              StudyhubResourceType.all.select(&:is_studytype?) : StudyhubResourceType.all.reject(&:is_studytype?)  %>
<%#  title = @studyhub_resource.is_studytype? ? "Study Type" : "Non Study Type"%>
<div class="row">
  <div style="margin:auto;width:70%;">
    <h1>Edit <%= @studyhub_resource.studyhub_resource_type.title %></h1>

    <%= form_with url: studyhub_resource_path, method: :put do |f| %>

<!--      <div id="studyhub_resource_type_selection" >-->
<!--        <div class="form-group">-->
<!--          <label class=""><%#= title %></label>-->
          <%#= collection_select :studyhub_resource, :studyhub_resource_type, filtered_resource_type, :key, :title,
                                { :selected => @studyhub_resource.studyhub_resource_type },
                                { :class => 'form-control' } -%>
<!--        </div>-->
<!--      </div>-->

      <%= hidden_field_tag 'studyhub_resource[studyhub_resource_type]', @studyhub_resource.studyhub_resource_type.key %>
      <%= render :partial=> "form", :locals => { :f => f,:folded => folded } %>
      <%= submit_tag('Submit', class: 'btn btn-primary', id: 'submit-button', disabled: false ) %>
      </div>
      </div>
    <% end %>


    <script type="text/javascript">
        $j(document).ready(function () {
            <% unless @studyhub_resource.resource_json.nil? %>
            if (<%=  @studyhub_resource.is_studytype? %>){
                $j('#step_one').hide();
            }
            <% end %>
        });
    </script>





