<div class="row">
  <div style="margin:auto;width:70%;">
    <h1>Edit <%= t('studyhub_resources.studyhub_resource') %></h1>
    <%= form_with url: studyhub_resource_path, method: :put do |form| %>
      <span id="studyhub_resource_attributes_container">
        <% if ( @studyhub_resource.is_study? || @studyhub_resource.is_substudy? ) %>
     <div id="type_study_form">
    <%= render partial: 'type_study_form', locals: { :f => form } %>
  </div>

      <% else %>
  <div id="type_assay_form">
    <%= render partial: 'type_assay_form', locals: { :f => form } %>
  </div>
      <% end %>
</span>


      <%= submit_tag('Submit', class: 'btn btn-primary', id: 'submit-button', disabled: false ) %>
      </div>
      </div>

    <% end %>


