We have <%= @studyhub_resources.size %> Studyhub Resource

<br>

<% @studyhub_resources.each_with_index do |x,index| %>
  <br>

 <h4><%= index+1 %> <%= x.resource_type %></h4>
  <%= persistent_resource_id(x) %>
  <%= studyhub_resource_in_seek_id_json(x) %>
  <br>
  <p><b>Title: </b><%= x.title %></p>

  <h4>It's associated item</h4>
  <% if x.resource_type == StudyhubResource::STUDY || x.resource_type == StudyhubResource::SUBSTUDY %>
    <%= persistent_resource_id(x.study) %>
    <%= studyhub_resource_in_seek_id_json(x.study) %>

  <% else %>
    <%= persistent_resource_id(x.assay) %>
    <%= studyhub_resource_in_seek_id_json(x.assay) %>
  <% end %>
<% end %>