<% r_title = @studyhub_resource.studyhub_resource_type.title.downcase %>
<div class="row">
<div style="margin:auto;width:70%;">
<div class="">
<div id ="step_two">
  <h3>Step 2: Associate a document</h3>
</div>
<table>
  <tr >
    <td style="padding: 20px 80px 80px 0"><p>
      Do you want to add a document to this <b><%= r_title %></b> ? <br>
      you can create a document by either uploading a file or registering a URL to a remote file or web page.
      If the document is already registered in SEEK, you are able to directly associate it with this <b><%=r_title %></b>.
    </p></td>

    <td style="padding-bottom:40px">    <%= button_to('Associate a document', associate_documents_studyhub_resource_path,
                          class: 'btn btn-primary theme-bg-color-7', id: 'associate_documents', method: :get,
                          data: {}) %></td>
  </tr>
  <tr>
    <td>
      <p>
      You can also go back to the <b><%= r_title %></b> and add a document later.
      </p>
    </td>
    <td><%= button_to('Go back to resource', studyhub_resource_path, method: :get,
                      class: 'btn', id: 'studyhub_resource',
                      data: {}) %></td>
  </tr>
</table>



</div>
</div>
</div>