<%= render :partial => "general/item_title",:locals => {:item=>@studyhub_resource, :buttons_partial => 'studyhub_resources/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%= persistent_resource_id(@studyhub_resource) %>
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @studyhub_resource}%>


    <p>
      <label>Resource Type:</label>
      <%= @studyhub_resource.studyhub_resource_type.title %>
    </p>

    <%= studyhub_resource_titles @studyhub_resource.resource_json['resource_titles'] -%>
    <%= studyhub_resource_descriptions @studyhub_resource.resource_json['resource_descriptions'] -%>
    <%= studyhub_resource_ids @studyhub_resource.resource_json['ids'] -%>
    <%= studyhub_resource_roles @studyhub_resource.resource_json['roles'] -%>


    <div class="row">
      <div class="col-md-6">

      </div>
    </div>



    <%= panel("General Resource Information:") do %>
      <%= render partial: 'studyhub_resources/studyhub_resource_value', locals: { resource: @studyhub_resource.resource_json['resource'] } %>
    <% end %>

    <% if @studyhub_resource.is_studytype? %>
    <%= panel("Study Design:") do %>
      <%= render partial: 'studyhub_resources/studyhub_study_design_value', locals: { resource: @studyhub_resource.resource_json['study_design'] } %>
    <% end %>
    <% end %>



  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @studyhub_resource } %>
  </div>
</div>


<%= render :partial=>"general/items_related_to", :object => @studyhub_resource %>
