<%= studyhub_resource_in_seek_id_json(@studyhub_resource) %>
  <%= @studyhub_resource.studyhub_resource_type.title %>
  <br>
  <%= @studyhub_resource.title %>
  <br><br>
  <%= @studyhub_resource.inspect %>

  <h3>It's associated item</h3>
  <% if @studyhub_resource.is_study? || @studyhub_resource.is_substudy? %>
    <%= persistent_resource_id(@studyhub_resource.study) %>
<% else %>
    <%= persistent_resource_id(@studyhub_resource.assay) %>
<% end %>