<%= studyhub_resource_in_seek_id_json(@studyhub_resource) %>
  <%= @studyhub_resource.resource_type %>
  <br>
  <%= @studyhub_resource.title %>
  <br><br>
  <%= @studyhub_resource.inspect %>

  <h3>It's associated item</h3>
  <% if @studyhub_resource.resource_type == StudyhubResource::STUDY || @studyhub_resource.resource_type == StudyhubResource::SUBSTUDY %>
    <%= persistent_resource_id(@studyhub_resource.study) %>
<% else %>
    <%= persistent_resource_id(@studyhub_resource.assay) %>

<% end %>