<% nfdi_type =  @studyhub_resource.resource_json["ids"].select{|x| x["id_type"] == "NFDI4Health"}%>
<% nfdi_subresources =  nfdi_type.select{|x| x["id_relation_type"] == "HasPart" && (!StudyhubResource.find(x["id_id"]).is_studytype?) }%>
<% nfdi_superresources =  nfdi_type.select{|x| x["id_relation_type"] == "HasPart" && StudyhubResource.find(x["id_id"]).is_studytype? }%>

<% other_types =  @studyhub_resource.resource_json["ids"].reject{|x| x["id_type"] == "NFDI4Health"} %>

<%= render :partial => "general/item_title",:locals => {:item=>@studyhub_resource, :buttons_partial => 'studyhub_resources/buttons'} %>

<div class="row">
  <div class="col-md-9 col-sm-8 box_about_actor">
    <%#= show_resource_stage(@studyhub_resource) %>
    <%= persistent_resource_id(@studyhub_resource) %>
    <%= render :partial => 'projects/show_project_relationship', :locals => {:resource => @studyhub_resource}%>
    <p>
      <label>Resource Type:</label>
      <%= @studyhub_resource.studyhub_resource_type.title %>
    </p>

    <%= studyhub_resource_items @studyhub_resource.resource_json['resource_titles'], "title"  -%>
    <%= studyhub_resource_items @studyhub_resource.resource_json['resource_acronyms'], "acronym"  -%>
    <%= studyhub_resource_items @studyhub_resource.resource_json['resource_descriptions'], "description"  -%>

    <% unless nfdi_subresources.empty? %>
    <p>
      <label>Related <%="subresource".pluralize(nfdi_subresources.size) %>:</label>
        <%= studyhub_resource_nfdi_ids nfdi_subresources -%>
    </p>
    <% end %>

    <% unless nfdi_superresources.empty? %>
      <p>
        <label>Related <%="superresource".pluralize(nfdi_superresources.size) %>:</label>
        <%= studyhub_resource_nfdi_ids nfdi_superresources -%>
      </p>
    <% end %>

    <% unless other_types.empty? %>
      <p>
        <label>Other related <%="resource".pluralize(other_types.size) %>:</label>
        <%= studyhub_resource_other_ids other_types -%>
      </p>
    <% end %>

    <%= panel("Roles:") do %>
      <%= studyhub_resource_roles @studyhub_resource.resource_json['roles'] -%>
  <% end %>


    <%= panel("General Resource Information:") do %>
      <%= render partial: 'studyhub_resources/studyhub_resource_value', locals: { resource: @studyhub_resource.resource_json['resource'] } %>
    <% end %>

    <% if @studyhub_resource.is_studytype? %>
    <%= panel("Study Design:") do %>
      <%= render partial: 'studyhub_resources/studyhub_study_design_value', locals: { resource: @studyhub_resource.resource_json['study_design'] } %>
    <% end %>
    <% end %>
  </div>

  <div class="col-md-3 col-sm-4">
    <%= render :partial=>"assets/resource_main_content_right",:locals => { :resource => @studyhub_resource } %>
  </div>
</div>


<%= render :partial=>"general/items_related_to", :object => @studyhub_resource %>
