<style>
    .funders img {
        max-width: 100%;
    }
</style>

<div class="funders">
  <div class="row">
    <div class="col-xs-12">
      <h1>Partner</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.zbmed.de/">
        <%= image_tag "logos/funders/zbmed.svg", { :alt => "ZB MED", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.bips-institut.de/home.html">
        <%= image_tag "logos/funders/bips.svg", { :alt => "BIPS", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.dife.de/">
        <%= image_tag "logos/funders/dife.svg", { :alt => "DIFE", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.fraunhofer.de/">
        <%= image_tag "logos/funders/fraunhofer.svg", { :alt => "Fraunhofer", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.h-its.org/de/">
        <%= image_tag "logos/funders/hits.svg", { :alt => "HITS", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.kks-netzwerk.de/index.php">
        <%= image_tag "logos/funders/kksn.svg", { :alt => "KKSN", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.mdc-berlin.de/de">
        <%= image_tag "logos/funders/mdc.svg", { :alt => "MDC", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.rki.de/DE/Home/homepage_node.html">
        <%= image_tag "logos/funders/rki.gif", { :alt => "RKI", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.tmf-ev.de/Home.aspx">
        <%= image_tag "logos/funders/tmf.svg", { :alt => "TMF", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.ernaehrungsepidemiologie.uni-bonn.de/">
        <%= image_tag "logos/funders/uni_bonn.svg", { :alt => "Universität Bonn", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.uni-bremen.de/jura/fachbereich-6-rechtswissenschaft/">
        <%= image_tag "logos/funders/uni_bremen.png", { :alt => "Uni Bremen", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.imise.uni-leipzig.de/homepage">
        <%= image_tag "logos/funders/uni_leipzig.svg", { :alt => "Universität Leipzig", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.cb.hs-mittweida.de/">
        <%= image_tag "logos/funders/hs_mw.svg", { :alt => "HS Mittweida", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.umg.eu/">
        <%= image_tag "logos/funders/um_goettingen.svg", { :alt => "Universitätsmedizin Göttingen", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="http://www2.medizin.uni-greifswald.de/icm/index.php?id=20">
        <%= image_tag "logos/funders/um_greifswald.svg", { :alt => "Unimedizin Greifswald", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.bihealth.org/">
        <%= image_tag "logos/funders/bih.svg", { :alt => "BIH", :loading => "lazy" } -%>
      </a>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
      <a target="_blank" rel="noopener noreferrer" href="https://www.ub.uni-koeln.de/index.html">
        <%= image_tag "logos/funders/ub_koeln.svg", { :alt => "USB Köln", :loading => "lazy" } -%>
      </a>
    </div>
  </div>
</div>

<div class="funders">
  <div class="row">
    <div class="col-xs-12">
      <h1>Funding</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>The partners of the NFDI consortium NFDI4Health are funded by the
        <a href="https://www.dfg.de/en/" target="_blank" rel="noopener noreferrer">German Research
          Foundation (DFG)</a> within the framework of the “Agreement between the Federal Government and the
        Länder Concerning the Establishment and Funding of a
        <a href="https://www.nfdi.de/" target="_blank" rel="noopener noreferrer">National Research Data
          Infrastructure</a>” of 26 November 2018. To coordinate the activities, the partners of NFDI4Health
        participate as far as possible as members in the National Research Data Infrastructure (NFDI) e. V.
        association and participate in the various bodies and other structures of the association in
        accordance with its statutes.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "logos/funders/dfg.svg", { :alt => "DFG", :loading => "lazy" } -%>
    </div>
  </div>
</div>
